    .table {
      display:table;
      width:100%;
      border-top:1px solid #ddd;
      border-left:1px solid #ddd;
    }
    .table ul
    {
      list-style:none;
      margin:0;
      padding:0;
      display:table-row;
    
    }
    

    .table ul li {
      display:table-row-group;
      text-align:center;
       border-bottom:1px solid #ddd;
       border-right:1px solid #ddd;
      padding:2px 4px;
    }

