doctype html
head
  title QOE Accelerator
  style.
    Body {
    background-image:
    url('https://connects.world/wp-content/uploads/2021/07/blockchain.jpeg');
    font-family: Calibri, Helvetica, sans-serif;
    }
    h1 {
    width:400px;
    margin: 0 auto;
    text-align: center;
    display; block;
    background: teal;
    }
    a {
    width:400px;
    margin:  auto;
    text-align: center;
    display; block;
    background: teal;
    }
    button {
    background-color: grey;
    width: 50%;
    color: orange;
    padding: 15px;
    margin: auto;
    border: none;
    cursor: pointer;
    }
    button:hover {
    opacity: 0.7;
    }
h1(style='color:black;font-size:50px;')  XR Edge Chain
button#myButton1(style='font-size:25px;' onclick="location.href = 'http://203.247.240.236:16220/api/queryallvideos';" class="button") View All Video Chunks
button#myButton(style='font-size:25px;' onclick="location.href = 'http://203.247.240.236:16220/api/createvideo';" class="button") Add New Video Chunk

